body {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 14px;
   line-height: 1.428571429;
   color: #333333;
   background-image: url("images/background.png");
   
   /* Add remaining declarations with appropriate property: value; pairs
   if needed */ 
}

/* header */

header {
     /* Add remaining declarations with appropriate property: value; pairs 
     if needed */ 
	 background-color: #F8F8F8;
	 font-weight: bold;
	 padding-left: 10px;
     padding-right: 10px;
}

hr {
	border-color:#F8F8F8;
}

.Header {
   width: 920px;
   margin-left: auto ;
   margin-right: auto ;
   
}

.Header h1 {
	font-size: 45px;
	margin: 0;
}

.PicIntro {
	float: left;
}

.PicIntro a:hover {
	color: red;
}


.PicDescription {
	float: right;
	width: 600px;
	margin-top: 70px;
	
}


.RelatedPaintings {
	float: left;	
}

.RelatedPaintings h3 {
	margin: 0;
}

.RelatedPaintings hr {
	width: 900px;
	border-style: solid;
	border-color: #E7E7E7;
	border-width: 1px;
}

.RelatedPaintings img{
	border-style: solid;
	border-color: #E7E7E7;
	border-width: 1px;
	padding: 5px 30px 5px 30px;
	width: 140px;
	margin: 10px;
	
}

.PicReviews {
	float: left;	
}

.PicReviews div {
	border-style: solid;
	border-color: #E7E7E7;
	border-width: 1px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 10px;
}

.Share {
	float: left;	
	margin: 0;
}

.Share hr {
	width: 900px;
	border-style: solid;
	border-color: #E7E7E7;
}

header a {
	text-decoration: none;
	color: #777777;
	padding: 10px 15px 10px;
	display: inline-block;
}

/* main document */

main {
   width: 900px;
   margin-left: auto ;
   margin-right: auto ;
   background-color: #ffffff;
   margin-top: 1em;
   padding: 10px;
   border: solid 1pt #e7e7e7;
   /* Add remaining declarations with appropriate property: value; pairs 
     if needed */ 
   overflow: hidden;
}

/* footer */

footer {
   width: 900px;
	text-align: center;
   /* Add remaining declarations with appropriate property: value; pairs
   if needed */  
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #262623;
	color: white;
	margin-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}